body {

    min-height: 100vh; /* vh = viewport height (hauteur de l'écran) */
    display: flex;
    flex-direction: column;
    margin: 0;
    -webkit-appearance: none;
    background-color: rgb(240, 240, 240);
    appearance: none;
    max-width: 100%;
}

.H1 {
    margin: 0;
    background-color: gray;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

button {

    user-select: none;
    border: 2px solid black;
    color:black;
    background-color: white;
}

.Boutons {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 440px;

}

button:hover {

    background-color: lightgray;
    border-radius: 10px;
    border-color: gray;
}

.BoutonClique {

    animation: 
    AnimationBoutonClique 4s linear infinite ;

}

.TextMode {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    right: 35%;
    font-size: 4vh;
    text-align: center;
    font-weight: bold;
}

.BoutonsMode {

    display: flex;
    flex-direction: column;
    background-color: rgb(171, 171, 171);
    border: 5px solid black;
    border-radius: 5px;
    border-right: 0px;
    border-left: 0px;
    height: 11vh;
    width: 100%;
    user-select: none;
    margin-right: 0;

}

.BoutonsModeBox {

    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.ButtonMode {


    border-radius: 7px;
    height: 6.2vh;
    width: 32%;
    font-size: 3vh;
    min-width: 10px;
    font-weight: bold;
    
}

.BoutonsUtilBox {

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 60%;
}


.ResetButton {

    width: 30%;
    height: 4vh;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;

}

.LevelSelector {
    
    width: 30%;
    height: 4vh;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;

}


.KanjiButton {

    width: 30%;
    height: 4vh;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;

}

.TextJLPTSelected {

    font-size: 2.3vh;
    left: 55vh;
    top: 16vh;
    min-width: 210px;
    border: 2px solid black;
    width: fit-content;
    align-self: center;
    text-align: center;
    
}

.CompteurPartieBox {

    display:flex;
    align-items: flex-start;
    align-items: center;
}

.CompteurPartie {
   
    display: flex;
    text-align: center;
    font-size: 4vh;
    background-color: transparent;
    border-color: transparent;
}

.CompteurPartieButtons {

    height: 2.6vh;
    width: 6.5vh;
    font-size: 1.7vh;
    border: 2px solid black;
    border-radius: 7px; 
    font-weight: bold;
}



.AffichagePartieBox {

    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    user-select: none;
}

.AvancementBox {
    border: 3px solid black;
    border-radius: 5px;
    width: 40%;
    display: flex;
    align-items: stretch;
    align-content: right;

}

.JusteAvancement {

    width: 50%;
    height: 3vh;
    font-size: 2.5vh;
    background-color: green;
    justify-content: center;
    display: flex;

}

.FauxAvancement {

    width: 50%;
    height: 3vh;
    font-size: 2.5vh;
    background-color: red;
    justify-content: center;
    display: flex;
    text-align: left;

}



.ComboBox {

    display: flex; 
    top: 12.5vh;
    position: relative;
    border: 3px solid black;
    width: 18vh;
    background-color: rgb(224, 224, 224);
    user-select: none;

}

.ComboTextBox {

    display: flex;
    flex-direction: column;
    align-items: end;
}

.Combo {

    font-size: 2.3vh;
    margin-right: 3px;
    display: flex;
}

.ComboNumberBox {

    display: flex;
    flex-direction: column;

}

.ComboNumber {

    font-size: 2.7vh;
    justify-content: center;
    font-weight: bold;
    text-align: left;
    
}

.BestCombo {

    font-size: 2.3vh;
    margin-right: 3px;
    display: flex;
}

.BestComboNumber {

   font-size: 2.7vh;
    justify-content: center;
    font-weight: bold;
    text-align: left;
    

}


.KanjiBox {

    display: flex;
    justify-self: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    min-width: 440px;
    margin-top: -25px;
}

.Kanji {
    display: flex;
    font-size: 15vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 25px;
    border: 10px double black;
    background-color: white;

}


.KanjiPrecedant {

    border: 3px solid black;
    font-size: 2vh;
    width: 20%;
    right: 6dvw;
    max-width: 300px;
    top: center;
    position: absolute;

}

.SkipButtonBox {
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.SkipButton {

    display: flex;
    justify-content: center;
    width: 18%;
    height: 3.5vh;
    font-size: 2vh;
    align-items: center;
    font-weight: bold;
    border-width: 2px;
    border-radius: 5px;


}

.Texte {
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
    align-self: center;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;  
    background-color: rgb(220, 218, 218);
    width: 80%;
    height: 4vh;
    user-select: none;
}

.Texte:focus {

    animation:
    TextBoxFlicker 2s linear infinite;
}

.HistoriqueBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    background-color: white;
    margin: 15px 0;
    border: 3px solid black;
    max-height: 50dvh;
    overflow-y: auto;


}

.HistoriqueVrai {

    display: flex;
    font-size: 2vh;
    color: black;

    

}

.HistoriqueVrai td {

    background-color: lightgreen;

}

.KanjiVraiTd {

    font-weight: bold;
    background-color: rgb(85, 211, 85) !important;

}

.HistoriqueFaux {

    display: flex;
    justify-content: center;
    color: black;

}

.HistoriqueFaux td {

    background-color: lightcoral;
}

.KanjiFauxTd {

    font-weight: bold;
    background-color: rgb(231, 86, 86) !important;

}

.ApparitionHistorique {

    animation: ApparitionHistoriqueAnimation 0.6s linear forwards;

}


.FinPartieBox {

    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    border: 7px solid darkgray;
    position: absolute;
    top: 30%;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 60vh;
    align-items: center;
    min-width: 350px;
    max-width: 600px;
}



.RecommencerButton {

    border: 2px solid black;
    height: 55px;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
}

.Tableau_Kanji {

    border-color: black;
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgrey;



}

.Tableau_Kanji td {
    
    border: 2px solid black;
    text-align: center;
    font-size: 2.3vh;
    width: 22%;
    font-weight: bold;
    

}

.PageOpacitor {

    background-color: black;
    opacity: 40%;
    width: 100%;
    margin: 0;
    position: fixed;
    height:100%;
    top: 0px;
    align-self: center;
    justify-self: center;
    user-select: none;

}

.AffichageJLPT {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 7px solid darkgray;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 40vh;
    align-items: flex-start;
    min-width: 250px;
    max-width: 400px;
    padding: 10px;
}

.JLPTTableauDisplay {

    margin-top: 5px;
    background-color: white;

}

.JLPTText {

    font-size: 3vh;
    margin-bottom: 2vh;
}

.JLPTButton {

    width: 4.3vh;
    height: 4.5vh;
    font-size: 2vh;
    background-color: white;
    border-radius: 5px;
    margin-left: 1px;
}

.JLPTRetour {

    position:absolute;
    font-size: 1.7ch;
    height: 3ch;
    width: 8ch;
    bottom: 5%;
    right: 5%;
}


.TableauKanjiBox {

    width: 80%;
    position:absolute;
    top: 15%;
    left: 10%;
    background-color: gray;
    border: 5px solid black;
    border-radius: 14px;
    text-align: left;

}

.TableauKanjiBox2 {

    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    background-color: lightgray;
    border: 5px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;
    gap:5px;

}

.JLPT5Section {

    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;


}

.JLPT4Section {

    display: flex;
    flex-direction: row;
    gap: 3px;
    min-width: 300px;
    flex-wrap:wrap;
    justify-content: center;
    
}

.JLPT3Section {

    display: flex;
    flex-direction: row;
    min-width: 300px;
    gap: 3px;
    flex-wrap:wrap;
    justify-content: center;
    
}

.KanjiTableauBouton {

    border: solid black 2px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 13px;
    background-color: white;
}


.JLPTTableau {

    margin-left: 7.2ch;
}



.ResetWall1 {

    pointer-events: none;
    user-select: none;
    position:absolute;
    background-color: transparent;
    width: 100%;
    height: 50ch;
    top: 45ch;
  
}

.ResetWall2 {

    pointer-events: none;
    user-select: none;
    position:absolute;
    background-color: transparent;
    width: 100%;
    height: 50ch;
    top: -10ch;
  
}

.ResetWall3 {

    pointer-events: none;
    user-select: none;
    position:absolute;
    background-color: transparent;
    width: 50%;
    height: 100ch;
    top: 0px;
    right: 55dvw;
  
}

.ResetWall4 {

    pointer-events: none;
    user-select: none;
    position:absolute;
    background-color: transparent;
    width: 40%;
    height: 100ch;
    top: 0px;
    left: 55dvw;
  
  
}

.ResetWall1InAnimation {

    background-color: white; 
    border: 2px solid grey;

  animation: 
    ResetWall1MovingAnimation 0.6s linear backwards;

}

.ResetWall2InAnimation {

    background-color: white;
    border: 2px solid grey;

  animation: 
    ResetWall2MovingAnimation 1.1s linear backwards;

}

.ResetWall3InAnimation {

    background-color: white;
    border: 2px solid grey;

  animation: 
    ResetWall3MovingAnimation 0.6s linear backwards;

}

.ResetWall4InAnimation {

    background-color: white;
    border: 2px solid grey;

  animation: 
    ResetWall4MovingAnimation 0.6s linear backwards;

}


/* -------------------Animations------------------- */


@keyframes TextBoxFlicker {

    33% { background-color: rgb(220, 218, 218);}
    66% { background-color: white;}
    100% { background-color: rgb(220, 218, 218);} 
}


@keyframes AnimationBoutonClique {

    1% { border: 4px solid black}
    50% { border: 4px solid rgb(135, 135, 135)}
    66% { border: 4px solid rgb(135, 135, 135)}
    100% { border: 4px solid black}


    
}


@keyframes ResetWall1MovingAnimation {

    from { top: 45ch}
    to { top: 100ch}
    
}

@keyframes ResetWall2MovingAnimation {

    from { top: -10ch}
    to { top: -100ch}
    
}

@keyframes ResetWall3MovingAnimation {

    from { right: 55dvw}
    to { right: 100dvw}
    
}

@keyframes ResetWall4MovingAnimation {

    from { left: 55dvw}
    to { left: 100dvw}
    
}

@keyframes ApparitionHistoriqueAnimation {

    from { opacity: 0;}
    to { opacity: 1;}
    
}